<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <title>Techjanitor</title>
</head>
<body>

    <!-- <div class="container">
        <section class="header">
            <h2 class="title">Martin Durhuus</h2>
            <a class="button button-primary" href="#">CV</a>
            <div class="value-props row">
                <h4 class="title">Personal projects</h4>
                <div class="four columns value-prop">
                    <a href="#" class="value-url"><h3 class="title">InstAPI</h3></a>
                    <p>A minimal instagram API based on <a href="#">this</a> project.
                    Can serve 1000+ images based on a hashtag. Useful for data collection and deep learning.</p>
                </div>
                <div class="four columns value-prop">
                    <a href="#" class="value-url"><h3 class="title">UnderlordsAPI</h3></a>
                    <p>An API with meta information from the game Dota Underlords.</p>
                </div>
                <div class="four columns value-prop">
                    <a href="#" class="value-url"><h3 class="title">Feastly</h3></a>
                    <p>A collective place to share and follow recipes,
                        and randomly generate a weekly mealplan. (WIP)
                    </p>
                </div>
            </div>
        </section>
    </div> -->

    <div class="container">
        <section class="header">
            <h2 class="title">Martin Durhuus</h2>
            <a class="button button-primary" href="{{ url_for('download_cv') }}">CV</a>
            <div class="value-props row">
                <h4 class="title">Personal projects</h4>
                <div class="four columns value-prop">
                    <a href="http://cryptolio.techjanitor.org"><h3 class="value-url">cryptolioAPI</h3></a>
                    <p>A minimal serverless API that serves some basic information about crypto currencies.</p>
                </div>
                <div class="four columns value-prop">
                    <a href="http://underlords.techjanitor.org"><h3 class="value-url">UnderlordsAPI</h3></a>
                    <p>An API with meta information from the game Dota Underlords.</p>
                </div>
                <div class="four columns value-prop">
                    <h3 class="value-url">Humbleplate.app</h3>
                    <p>A collective place to share and follow recipes.
                        Make a randomly generated weekly mealplan. (<a href="https://gitlab.com/martindur/feastly">WIP</a>)
                    </p>
                </div>
            </div>
        </section>
    </div>

    <!-- <div class="section header">
        <div class="container">
            <div class="row">
                <div class="one column" style="text-align: center;">
                    <h1>Techjanitor</h1>
                </div>
            </div>
            <div class="row">
                <div class="one-third column value">
                    <a href="http://instapi.techjanitor.org"><h2>Instapi</h2></a>
                    <p>A minimal instagram api based on this(link) library</p>
                </div>
                <div class="one-third column value">
                    <a href="http://underlords.techjanitor.org"><h2>Underlords API</h2></a>
                    <p>An API with data from the game Dota Underlords</p>
                </div>
                <div class="one-third column value">
                    <a href="#"><h2>Feastly</h2></a>
                    <p>A site for adding and subscribing recipes, and generate a randomised weekly meal plan</p>
                </div>
            </div>
        </div>
    </div> -->
</body>
</html>